@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Poppins:wght@400;500;600&family=Sarala&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

.product-card logo-card{
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-card logo-card img{
    height: 58px;
    width: 50px;
    object-fit: cover;
}

.product-card logo-card i{
    font-size: 27px;
}